@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin: 2rem 0;
  line-height: 1.5;
}

button {
  cursor: pointer !important;
}
